/*banner*/
.bannerWrapper{ height: 1224px; background: url(../images/bannerBg.jpg) no-repeat center 0; overflow: hidden;}
.banner{ width: 1300px; margin: 0 auto;}
.channelTit{ width: 403px; height: 190px; margin: 53px auto 67px;}
.bannerAd{ width: 1300px; height: 732px; overflow: hidden;}
.celebsTit{ width: 344px; height: 81px; margin: 50px auto 0;}

/*名流云集*/
.celebsWrapper{ max-height: 1762px; background: url(../images/celebsBg.jpg) no-repeat center 0; overflow: hidden;}
.celebs{ width: 1300px; overflow: hidden; margin: 40px auto 55px;}
.celebs li{ float: left; position: relative;}
.celebs li a{ width: 260px; height: 396px; display: block; overflow: hidden;}
.celebsBlack{ position: absolute; top: 0; left: 0; width: 260px; height: 396px; z-index: 1; background: url(../images/celebsBlack.png) repeat 0 0; opacity: 0; transition:opacity .5s; -moz-transition:opacity .5s; -webkit-transition:opacity .5s; -ms-transition:opacity .5s; -o-transition:opacity .5s;}
.celebs li:hover .celebsBlack{ opacity: 1;}
.celebsName{ position: absolute; z-index: 2; width: 260px; height: 70px; top: 164px; background: url(../images/celebsNamebg.png) repeat 0 0; line-height: 70px; text-align: center; color: #fff; font-size: 25px; opacity: 0; transition:opacity .5s; -moz-transition:opacity .5s; -webkit-transition:opacity .5s; -ms-transition:opacity .5s; -o-transition:opacity .5s;}
.celebs li:hover .celebsName{ opacity: 1;}
.celebsWrapper h2{ width: 343px; height: 80px; margin: 56px auto 0;}

/*秀场直击*/
.runwayWrapper{ height: 853px; margin-top: 60px;}
.runway{ margin: 0 auto;}
.runway .swiper-container {} 

/*3秒读懂*/
.threesecWrapper{ height: 539px; background: url(../images/threeSecbg.jpg) no-repeat center 0;}
.threeSec{ width: 1300px; padding: 40px 0 0 86px; box-sizing: border-box;}
.threeSectext{ float: left; width: 423px; margin: 56px 155px 25px 0;}
.threeSectext h2{ margin-bottom: 22px;}
.threeSectext p{ font-size: 16px; line-height: 31px;}
.threeSectext a:link,.threeSectext a:visited{ display: block; width:103px; height:35px; line-height: 35px; background: #fff; font-size: 16px; color: #000; text-align: center;}
.threeSectext a:hover{ color: #e60012;}
.threeSec ul{ float: left; width: 618px;}
.threeSec ul li{ float: left; width: 223px; height: 223px; position: relative; margin: 0 20px 20px 0;}
.threeSec ul .firLi{ width: 350px; height: 468px;}
.threeSec ul span{ position: absolute; top: 10px; right: -5px; display: block; padding: 0 20px; height: 36px; line-height: 36px; font-size: 19px; background: #fff;}
.threeSec ul li a{ color: #000;}

/*经常回顾*/
.highLights{ width: 1300px; height: ; margin: 115px auto 80px;}























